<div class="card border-primary" >
  <div class="card-header" style="background-color: dodgerblue;"><h6>Filtros</h6></div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="de">De</label>
        <input type="number" id="de" class="form-control" #filterDe>
      </div>
      <div class="form-group">
        <label for="ate">Até</label>
        <input type="number" id="ate" class="form-control" #filterAte>
      </div>

      <button class="btn btn-primary btn-block btn-sm my-2">Filtrar</button>

    </form>
  </div>
</div>
