<nav class="navbar navbar-expand-lg bg-dark mb-4">
  <div class="container-fluid m-2">
    <a href="/" class="d-flex  align-items-center text-ligth text-decoration-none mx-2">
      <app-header></app-header>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-5 aling-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Sobre</a>
        <a class="nav-link" href="#">Produtos</a>
        <a class="nav-link" href="#">Suporte</a>
      </div>
    </div>
    <a class="btn btn-outline-primary" href="#">Sing up</a>
  </div>

</nav>






